<div class="w-full">
  <div class="bg-gray-100">
    <!-- Text shadow utilities will be cool -->
    <nav class="flex justify-end p-8 mb-4">
      <ul class="list-reset flex">
        <li><a href="#" class="text-black p-2 md:p-4">Home</a></li>
        <li><a href="#" class="text-black p-2 md:p-4 whitespace-no-wrap">About Us</a></li>
        <li><a href="#" class="text-black p-2 md:p-4">Contact</a></li>
      </ul>
    </nav>

    <div class="text-center text-black font-sans font-thin md:text-4xl pb-16">
      <h1>LOODGIETERIJ</h1>
      <h2>HUYBRECHTS</h2>
      <ul class="font-thin text-sm list-reset flex justify-center">
        <li class="py-2">[</li>
        <li class="p-2 whitespace-no-wrap">Nieuwbouw en renovatie</li>
        <li class="p-2">Badkamerrenovatie</li>
        <li class="p-2">Ketelvernieuwing</li>
        <li class="p-2 whitespace-no-wrap">Onderhoud en herstellingen</li>
        <li class="py-2">]</li>
      </ul>
      <h2 class="font-thin text-sm tracking-wide mt-2 mb-4">

      </h2>
    </div>
  </div>

</div>