<div class="header ">
  <div class="pt-2">
    <nav class="flex justify-end px-8 pt-8 text-2xl hidden">
      <ul class="list-reset flex">
        <li>
          <a href="#" class="text-black px-4" alt="home">
            <i class="las la-home"></i>
          </a>
        </li>
        <li>
          <a href="#" class="text-black px-4" alt="contact us">
            <i class="las la-envelope"></i>
          </a>
        </li>
        <li>
          <a href="#" class="text-black px-4" alt="contact us">
            <i class="las la-info-circle"></i>
          </a>
        </li>
      </ul>
    </nav>

    <div class="text-center text-sm text-black font-sans font-thin pb-2">
      <div class="header-logo"></div>
      <ul class="font-thin list-reset flex justify-center">
        <li class="py-2">[</li>
        <li class="p-2 whitespace-no-wrap">Nieuwbouw en renovatie</li>
        <li class="p-2">Badkamerrenovatie</li>
        <li class="p-2">Ketelvernieuwing</li>
        <li class="p-2 whitespace-no-wrap">Onderhoud en herstellingen</li>
        <li class="py-2">]</li>
      </ul>
      <h2 class="font-thin text-sm tracking-wide mt-2 mb-4">

      </h2>
    </div>
  </div>

</div>